*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dbddff;
    color: black;
    font-family: Poppins;
}

.padding{
    padding-left: 8%;
    padding-right: 8%;
}

.padding-top{
    padding-top: 10%;
}

.container{
    width: 90%;
    margin: 0 auto 5%;
    background-color: #fff;
    position: relative;
}

.container p{
    font-size: 0.43rem;
}


/* Helper class */


.flex{
    display: flex;
}


.mg-bottom{
margin-bottom: 20px;
}

.sub-mg-bottom{
    margin-bottom: 5px;
    }

.pd-bottom{
    padding-bottom: 40px;
}

.pd-top{
    padding-top: 65px;
}
.section-top-pd{
    padding: 25px;
}

.blue-bg{
    background-color: #545be8;
    color: #fff;
}

.yellow-bg{
    background-color: #f0c932;
}


.blue-txt{
    color: #545be8;
}

.sub-mg-bottom{
    margin-bottom: 10px;
}



/* Navbar */

.nav{
    position: fixed;
    height: 33px;
    box-shadow: 1px 1px 2px  rgb(216, 210, 210);
    width: 90%;
    justify-content:space-between;
    color: #ffffff;
    align-items: center;
    margin: auto;
    background-color:#fff;
    z-index:8;
}
.logo{
    align-items: center;
    gap: 5px;
}

.logo img{
    width: 20px;
    height: 20px;
}

.logo p{
    font-size: 0.5rem;
    font-family:Roboto;
    line-height: 1.6;
    text-align: center;
    font-weight: 700;
}

.nav-items{
    gap: 10px;
    font-family: Poppins;
    font-size: 0.55rem;
    font-weight: 400;
  
}

.nav-items li{
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    color: #111;
    
}

button {
    font-size: 0.6rem;
    font-weight: 400;
    padding: 5.35px 20.18px;
    width: 70.02px;
    border-radius: 4.12px;
    font-family: Inter;
    height: 19.71px;
    padding:4px 20px 4px 20px;
}

.nav-buttons{
    gap: 5px;
}

.nav-buttons .login{
    border:0.41px solid #545be8;
    gap: 4.12px;
}

.nav-buttons .register{
    background-color:#545be8;
    color: #fff;
    border: none;
    font-size: 0.6rem;
}

/* Hero section */

.hero-section{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
}
.hero-top{
    width: 50%;
}

.hero-bottom{
    width: 50%;

}


.text-section h1 {
    font-size: 2rem;
    color: #141e32;
    font-family: 'Poppins';
    width: 100%;
}


.text-section p{
    font-family: Inter;
    font-size: 0.6rem;
    line-height: 2;
}


.text-section p  span {
    font-weight: 600;
}

.content{
    color: #969696;
    font-size: 0.6rem;
}


.image-section img{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

.polygon{
    width: 13px;
    height: 13px;
    /* margin: 5px; */
    border-radius: 50%;
}

.polygon img{
    width: 5.77px;
    height: 5.77px;
    align-items: center;
    position: relative;
    top: 3px;
    left: 4px;
}

.play{
    padding: 2px;
    /* width: 0px; */
    width: 80px;
    align-items: center;
    gap: 5px;
     border: none;
     margin-left: 10px;
}

.herosection-buttons  .register{
    background-color: #545be8;
    border: none;
    color: #fff;
    text-align: center;
}

/* Statistics Section */

.service-section{
   width: 100%;
    background-color: #fff;
   padding: 5% 20%;
}


.service-section h1{
    font-size: 1.02rem;
    text-align: center;
    color: #141e32;
}

.service-section h4{
    font-size: 0.5rem;
    text-align: left;
}

.service-section .icon{
   background-color: white;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   text-align: center;
   align-items: center;
}

.service-section p{
    font-size: 0.4rem;
    text-align: left;
    line-height: 1.5;
}

.card{
    height: 110px;
    width: 110px;    
    padding: 10px;
    border-radius: 10px;
}

.card-div{
    justify-content: space-around;
    gap: 15px;

}

.icon-one img{
    margin-top: 2px;
}
.icon-two img{
    position: relative;
    /* top: 0; */
    bottom: 2px;
}

.icon-three img{
    margin-top: 2px;
}

/* statistics section */
.stat-section{
    width: 100%;
    gap: 40px;
    height: 350px;
}
.stat-left{
    width: 50%;
}

.stat-right{
    width: 50%;
}


.stats-image img{
    position: relative;
    width: 90%;
    left: 30px;
    top: 0;
}

.stat-text{
    margin-left: 30px;
   
}

.stat-text .selected-course{
    font-size: 0.5rem;
    color: #f0c932;
    padding-top: 30px;
}

.stat-section h3{
    font-size: 1.5rem;
    width: 90%;

}

.stat-section p{
    font-size: 0.5rem;
    width: 80%;
}

.views{
    gap: 20px;
    font-size: 0.5rem;
    width: 90%;
}

.view span{
    display: block;
    font-weight: 400;
}

.views .head{
    display: block;
    color: #f0c932;
    font-weight: 500;
    font-size: 0.8rem;
}

/* Course Section */
.courses-section{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding-top: 5%;
    width: 100%;
}


.course-img{
  position: relative;
  cursor: pointer;
  color: white;
  z-index:7;
  height: 73px;
  width: 135px;
  background-size: 135px;
  background-repeat: no-repeat;
}
.course-img::after
{
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(39,38,42,1) 2%, rgba(255,255,255,0) 20%);
    z-index:6;
    height: 73px;
  width: 135px;
    top: 0;
    left: 0;
}

.course-details h4{
    font-size: 0.56rem;
    position:absolute;
    color: black;
}

.course-details span{
    font-size: 0.42rem;
}

.courses-section p{
    font-size: 0.36rem;
}


.available-top{
    color: #545be8;
    margin-bottom: 5px;
}

.available h4{
    font-size: 1.6rem;
    line-height: 1.1;
    width: 50%;
    font-family: Poppins;
}

.available .txt{
    color: #969696;
    line-height: 1.4;
    font-size: 0.49rem;
    width: 90%;
}
.available button{
    margin-top: 10px;
   padding: 0;
    border: none;
    background-color: #545be8;
    color: #fff;
    margin-left: 0;
    font-size: 0.35;
}
.courses-section .course-one{
    background-image: url("assets/computer.jpg");
    
   
}

.courses-section .course-two{
    background-image: url("assets/photography.jpg");
   
}


.courses-section .course-four{
    background-image: url("assets/game.png");
   
}


.courses-section .course-five{
    background-image: url("assets/code.jpg");
  
}

.course-img .best{
    background-color: #545be8;
    position: relative;
    top: 15px;
    width: 55px;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.course-img h4{
    color: #fff;
    font-size: 0.42rem;
    font-family: Poppins;
}

.amount{
    position: relative;
    top: 45px;
    left: 90px;
   
} 

.amount h5{
     font-size: 0.56rem;
     color: #fff;
     position: absolute;
     z-index: 99; 
     /* line 448 is used to make text on the a gradient background to be visible  */
}

.course-txt{
    padding-top: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    /* width: 135px;
    height: 33px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    box-shadow: 1px 1px 4px rgb(216, 210, 210);
  
}
.course-details h4{
font-size: 0.5rem;
}

.course-details span{
    font-size: 0.45rem;
    color: #969696;
}

.course-info{
    justify-content: space-between;
}

.course-info p{
    color: #545be8;
}

.view-info{
    margin-right: 10px;
    margin-top: 5px;
    color: #596377;
}

/* Testimonial section */

.testimonial-section{
   
   width: 100%;
    margin: 20px auto;
}
.testimony{
    width: 50%;
    /* height: 84px; */
    position: relative;
    padding: 0 10px;
    box-shadow: 1px 1px 4px rgb(216, 210, 210);
    margin: auto;
    height: 100px;
}
.test-flex{
    gap: 10px;
    margin-top: 10px;
}

.testimonial-section h3{
    font-size: 0.75rem;
    text-align: center;
}

.angle{
    position:absolute;
    /* left: 140px; */
    top: 0;
    right: 0;
    z-index: 5;

}

.top-test img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
} 
.picture{
    gap: 5px;
    position: absolute;
    top: 10px;
    z-index: 4;
    align-items: center;
}


.title h6{
    font-size: 0.6rem;
}

.title p{
    font-size: 0.4rem;
    color: #969696;
    /* margin-top: 20px; */
}

.txt{
    font-size: 1.5rem;
}

.star{
    width: 48px;
    height: 7.6px;
    display: block;
    margin-top: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.test-footer .last-paragraph{
    font-size: 0.5rem;
    line-height: 1.5;
    margin-bottom: 10px;
}


/* Footer */

.test-footer p{
font-size: 0.36rem;
}

footer{
    background-color: #393e46;
    color: #fff;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
}

.left{
    width: 40%;
}

.right{
    gap: 20px;
} 

.footer-logo-section {
   align-items: center;
    gap: 5px;
}

.footer-left .txt{
    font-size: 0.4rem;
    width: 70%;
    line-height: 1.5;
    margin: 10px 0;

}

.footer-logo p{
    font-family: Roboto;
    font-size: 0.5;
    gap: 5px;
}


.right h6{
    font-size: 0.5rem;
   line-height: 2;
}

.right p{
    line-height: 2;
    font-size: 0.4rem;
}

