*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:myFirstFont;
    src: url('MyFonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype'), url("MyFonts/Poppins/OFL.txt") format('truetype'), url("MyFonts/Roboto/Roboto-Black.ttf") format("truetype");
}

*{
    font-family: myFirstFont;
}

body{
    background-color: #fff;
    color: black;
    font-family: Poppins;
}

.padding{
   padding: 8% 8%;
}

p{
    font-size: 1rem;
}

.container{
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    width: 100%;
}

/* Helper class */


.flex{
    display: flex;
}


.mg-bottom{
margin-bottom: 20px;
}

.sub-mg-bottom{
    margin-bottom: 5px;
    }

.pd-bottom{
    padding-bottom: 40px;
}

.pd-top{
    padding-top: 65px;
}
.section-top-pd{
    padding: 25px;
}

.blue-bg{
    background-color: #545be8;
    color: #fff;
}

.yellow-bg{
    background-color: #f0c932;
}


.blue-txt{
    color: #545be8;
}

.sub-mg-bottom{
    margin-bottom: 10px;
}



/* Navbar */

.nav{
    position: fixed;
    height: 33px;
    box-shadow: 1px 1px 2px  rgb(216, 210, 210);
    width: 100%;
    justify-content:space-between;
    color: #ffffff;
    align-items: center;
    margin: auto;
    background-color:#fff;
    z-index:8;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    gap: 5px;
    align-items: center;
}

.logo img{
    width: 20px;
    height: 20px;
}

.logo p{
    font-size: 0.5rem;
    font-family:Roboto;
    line-height: 1.6;
    text-align: center;
    font-weight: 700;
}

.nav-items{
    gap: 10px;
    font-family: Poppins;
    font-size: 0.55rem;
    font-weight: 400;
  
}

@media screen and (max-width:1023px) {
    .nav-items{
        font-size: 0.4rem;
    }
}


.nav-items li{
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    color: #111;
    
}

button {
    font-size: 0.6rem;
    font-weight: 400;
    /* padding: 5.35px 20.18px; */
    /* width: 70.02px; */
    border-radius: 4.12px;
    font-family: Inter;
    /* height: 19.71px; */
    padding:6px 20px 6px 20px;
}

@media screen and (max-width:1023px) {
    button {
        font-size: 0.5rem;
        padding:4px 15px;
    }
    
}

.nav-buttons{
    gap: 5px;
}

.nav-buttons .login{
    border:0.41px solid #545be8;
    gap: 4.12px;
    background-color: transparent;
}

.nav-buttons .register{
    background-color:#545be8;
    color: #fff;
    border: none;
    /* font-size: 0.6rem; */
}

/* Hero section */

.hero-section{
    width: 100%;
    background-color: #f5f5f5;
    flex-direction:row;
}

.hero-top{
    width: 50%;
    align-items: flex-start;
}

.hero-bottom{
    width: 50%;
    align-items: flex-end;

}


.text-section h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    color: #141e32;
    font-family: 'Poppins';
    width: 100%;
}

@media screen and (max-width:1023px) {
   
    
.text-section h1 {
    font-size: 2rem;
}
    }




.text-section p{
    font-family: Inter;
    font-size: 0.6rem;
    line-height: 2;
}


.text-section p  span {
    font-weight: 600;
}

.content{
    color: #969696;
    font-size: 0.6rem;
}


.image-section img{
   align-items: flex-end;
   height: 300px;
   width: 306px;
}

@media screen and (max-width:1023px) {
   
.image-section img{
    height: 250px;
    width: 256px;
 }
}



.polygon{
    width: 13px;
    height: 13px;
    /* margin: 5px; */
    border-radius: 50%;
}

.polygon img{
    width: 5.77px;
    height: 5.77px;
    align-items: center;
    position: relative;
    top: 3px;
    left: 4px;
}

.play{
    padding: 2px;
    width: 80px;
    align-items: center;
    gap: 5px;
     border: none;
     margin-left: 10px;
     background-color: transparent;
}

.herosection-buttons  .register{
    background-color: #545be8;
    border: none;
    color: #fff;
    text-align: center;
}

/* services Section */

.service-section{
   width: 100%;
   background-color: #fff;
   padding: 8% 20%;
   
}

@media screen and (max-width:1023px) {
    .service-section{
        padding: 7% 10%;
        
     }
}



.service-section h1{
    font-size: 1.02rem;
    text-align: center;
    color: #141e32;
}

.service-section h4{
    font-size: 0.6rem;
    text-align: left;
}

.service-section .icon{
   background-color: white;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   text-align: center;
   align-items: center;
}

.service-section p{
    font-size: 0.6rem;
    text-align: left;
    line-height: 1.5;
}

.card{
    /* height: 110px;
    width: 110px;     */
    padding: 15px;
    border-radius: 10px;
}

.card-div{
    justify-content: space-around;
    gap: 15px;

}

.icon-one img{
    margin-top: 2px;
}
.icon-two img{
    position: relative;
    /* top: 0; */
    bottom: 2px;
}

.icon-three img{
    margin-top: 2px;
}

/* statistics section */
.stat-section{
    color: #fff;
    width: 100%;
    gap: 70px;
    background-image: linear-gradient(to bottom, #545ae8 20%, #272bd0 80%);

}
.stat-left{
    width: 50%;
}

.stat-right{
    width: 50%;
}


.stats-image img{
    width: 100%;
}


.stat-text .selected-course{
    font-size: 0.6rem;
    color: #f0c932;
    padding-top: 20px;
}

.stat-section h3{
    font-size: 2rem;
    width: 90%;

}

@media screen and (max-width:1023px) {
    .stat-section h3{
        font-size: 1.5rem;
    }
}

.stat-section p{
    font-size: 0.7rem;
    width: 80%;
    line-height: 2;
}

.views{
    gap: 20%;
    font-size: 0.5rem;
    width: 100%;
}

.view span{
    display: block;
    font-weight: 400;
}

.views .head{
    display: block;
    color: #f0c932;
    font-weight: 500;
    font-size: 0.8rem;
}

/* Course Section */

.courses-section{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 5% 8%;
    width: 100%;

}

.course-img{
  position: relative;
  cursor: pointer;
  color: white;
  z-index:7;
  height: 80%;
  width: 135px;
  background-size: cover;
  background-repeat: no-repeat;
}
.course-img::after
{
    content: "";
    position: absolute;
    background-image: linear-gradient(0deg, rgba(39,38,42,1) 2%, rgba(255,255,255,0) 25%);
    z-index:6;
    height: 73px;
    width: 135px;
    top: 34%;
    left: 0;
}

.course-details h4{
    font-size: 0.56rem;
    position:absolute;
    color: black;
}

.course-details span{
    font-size: 0.42rem;
}

.courses-section p{
    font-size: 0.36rem;
}


.available-top{
    color: #545be8;
    margin-bottom: 5px;
}

.available h4{
    font-size: 1.6rem;
    line-height: 1.1;
    width: 50%;
    font-family: Poppins;
}

.available .txt{
    color: #969696;
    line-height: 1.3;
    font-size: 0.6rem;
    width: 80%;
}
.available button{
    border: none;
    background-color: #545be8;
    color: #fff;
    padding: 6px 20px;
    margin-top: 10px;
   
}
.courses-section .course-one{
    background-image: url("assets/computer.jpg");
}

.courses-section .course-two{
    background-image: url("assets/photography.jpg");
}


.courses-section .course-four{
    background-image: url("assets/game.png");
}


.courses-section .course-five{
    background-image: url("assets/code.jpg");
}
.course{
    height: 142px;
}

.course-img .best{
    background-color: #545be8;
    position: relative;
    top: 15px;
    width: 55px;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.course-img h4{
    color: #fff;
    font-size: 0.42rem;
    font-family: Poppins;
}

.amount{
    position: relative;
    top: 76%;
    left: 90px;
}

.amount h5{
     font-size: 0.56rem;
     color: #fff;
     position: absolute;
     z-index: 99; 
     /* line 448 is used to make text on the a gradient background to be visible  */
}

.course-txt{
    padding-top: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    box-shadow: 1px 1px 4px rgb(216, 210, 210);
}
.course-details h4{
font-size: 0.5rem;
}

.course-details span{
    font-size: 0.45rem;
    color: #969696;
}

.course-info{
    justify-content: space-between;
}

.course-info p{
    color: #545be8;
}

.view-info{
    margin-right: 10px;
    margin-top: 5px;
    color: #596377;
}

/* Testimonial section */

.testimonial-section{
   
   width: 100%;
    margin: 10px auto;
    padding:1%  7%;
    
}
.testimony{
    width: 50%;
    position: relative;
    box-shadow: 1px 1px 4px rgb(216, 210, 210);
    margin: auto;
    /* height: 100px; */
    padding: 10px;
    
}
.test-flex{
    gap: 10px;
    margin-top: 10px;
}

.testimonial-section h3{
    font-size: 1rem;
    text-align: center;
}

.angle{
    position:absolute;
    /* left: 140px; */
    top: 0;
    right: 0;
    z-index: 5;

}

.top-test img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
} 
.picture{
    gap: 5px;
    position: absolute;
    top: 10px;
    z-index: 4;
    align-items: center;
}


.title h6{
    font-size: 0.6rem;
}

.title p{
    font-size: 0.5rem;
    color: #969696;
    /* margin-top: 20px; */
}

/* .txt{
    font-size: 2rem;
} */

.star{
    width: 48px;
    height: 7.6px;
    display: block;
    margin-top: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.test-footer .last-paragraph{
    font-size: 0.7rem;
    line-height: 1.5;
    margin-bottom: 0px;
    
}


/* Footer */



footer{
    background-color: #393e46;
    color: #fff;
    /* padding: 20px; */
    width: 100%;
    /* margin-top: 20px; */
}

.left{
    width: 45%;
}

.right{
    gap: 20px;
    justify-content: space-evenly;
} 

.footer-logo-section {
   align-items: center;
    gap: 5px;
}

.footer-left .txt{
    font-size: 0.5rem;
    width: 90%;
    line-height: 1.5;
    margin: 10px 0;
    font-family: 'Poppins';

}

.footer-logo p{
    font-family: Roboto;
    font-size: 0.39;
    gap: 5px;
}


.socials img{
    height: 20px;
    width: 20px;
}

.right li{
    list-style: none;
    font-size: 0.55rem;
    /* font-weight: 400; */
    margin-bottom: 1px;

}

@media screen and (max-width:1023px) {
    .right li{
        font-size: 0.4rem;
    
    }

    .logo-txt{
        font-size: 0.4rem;
    }

    .right ul .head{
        font-size: 0.5rem;
    }
    
}


.right ul .head{
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 2px;
}

/* @media screen and (max-width:600px) {
    .hero-section{
        /* display: block; 
        height: fit-content;
    }

     .hero-top {
        width: 100%;
    }

    .text-section h1{
        font-size: 1.5rem;
        line-height: 1.5;
        width: 70%;
    }

    .padding-top{
        padding-top: 10%;
    }
    
    .container{
        width: 90%;
        margin: 0 auto 5%;
        background-color: #fff;
        position: relative;
    }
    
    .container p{
        font-size: 0.7rem;
    }
    
.content{
    font-size: 1rem;
}

    .herosection-buttons {
        align-items: center;
        justify-content: center;
       
    }

    .card-div{
       align-items: left;
       text-align: left;
    }
    .card p{
        font-size: 0.4rem;
    }
    
    .image-section{
        width: 100%;
       
    }

    .service-section h1{
        font-size: 0.9rem;
        text-align: center;
        color: #141e32;
    }

    .service-section {
        height: 250px;
        padding-top: 20px;
    }

    .stats-image img{
        top: 30px;
        left: 5px;
        width: 100%;
    }
    .service-section p{
        font-size: 0.3rem;
        text-align: left;
        line-height: 1.5;
    }

    .stat-text{
        margin-left: 10px;
       
    }

    .stat-section h3{
        width: 100%;
    }

    .stat-section p{
        width: 100%;
    }



.footer-left .txt{
    font-size: 0.4rem;
    width: 70%;
    line-height: 1.5;
    margin: 10px 0;

}

.footer-logo p{
    font-family: Roboto;
    font-size: 0.5;
    gap: 5px;
}


.right h6{
    font-size: 0.4rem;
   line-height: 2;
}

.right p{
    line-height: 2;
    font-size: 0.3rem;
}
} */

/* Media Queries */


